@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Plus+Jakarta+Sans:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'animation.css';

/* Define root variables for both light and dark mode */
:root {
    /* Light mode variables (default) */
    --bg-color: #fcfbf8;
    --text-color: #131522;
    --link-color: #6639dc;
    --link-visited-color: #6639dc;
    --heading-color: #1a1a1a;
    --border-color: #dddddd;
    --accent-color: #4a90e2;
    --accent-orange: #f46c04;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #18181c;
      --text-color: #e3e3e3;
      --link-color: #6639dc;
      --link-visited-color: #6639dc;
      --heading-color: #d7d7d7;
      --border-color: #444444;
      --accent-color: #4a90e2;
      --accent-orange: #f46c04;
    }
  }

/* Apply variables to elements */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
    font-weight: 700;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

article h1{
    line-height: 120% !important;
    padding-bottom: 0.5rem;
}

hr{
    margin: 4rem 0 !important;
    position: relative;
    border-color: rgba(0,0,0,.15);
}
@media (prefers-color-scheme: dark) {
    hr {
        border-color: rgba(255,255,255,.15);
        
    }   
}

.content a{
    color: var(--link-color);
}

.content a:visited{
    color: var(--link-visited-color);
}

.content p{
    color: #43474F;
}
@media (prefers-color-scheme: dark) {
    .content p {
        color: #b4b4b4;
    }   
}

.content strong{
    color: black;
}
@media (prefers-color-scheme: dark) {
    .content strong {
        color: white;
    }   
}

#replyViaEmail{
    color: var(--bg-color);
    background-color: var(--accent-orange);
}

#allArticles{
    color: var(--accent-orange);
}

.content h3{
    font-size: 1.25em;
    margin-top: 1.5em;
}

.content p{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.content p,
.content ul{
    font-weight: 500;
    margin-top: 1rem;
    font-size: 1.05rem;
    line-height: 2rem;
}

.content ul{
    list-style-type: disc;
    margin-top: 1rem;
    padding-left: 1.625em;
}
.content li{
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.content ol{
    list-style-type: decimal;
    font-weight: normal;
    margin-top: 1rem;
}

.content h2{
    font-size: 1.5rem;
    margin-top: 2rem;
    
}

.content h2{
    color: #222;
}

@media (prefers-color-scheme: dark) {
    .content h2 {
        color: white;
    }
}

.content img, 
.content video{
    margin-top: 1rem;
    border-radius: 0.3rem;
}

.content blockquote{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    background-color: #eceff489 !important;
    border-left: 0.3rem solid #8C52FF;
    border-radius: 0.3rem; 
}

@media (prefers-color-scheme: dark) {
    .content blockquote {
        background-color: #1F1F31 !important;
    }
}

.content .highlighter {
    background-color:#2d2d2d10; 
    color: #ff6200;
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, monospace;
    padding: 0.2em 0.4em;
    border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
    .content .highlighter {
        background-color:  #2d2d2d; 
        color: #ff8c00;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.list a:visited{
    /* color: var(--link-visited-color); */
}

.list li::marker{
    color: var(--link-visited-color) !important;
}

.list li{
    padding-left: 0.25rem;
}


.highlight pre {
    overflow-x: auto;          /* Enables horizontal scrolling */
    white-space: pre;          /* Preserves whitespace and line breaks */
    max-width: 100%;           /* Prevents overflow beyond container */
    padding: 1.5em;              /* Optional: Adds padding for readability */
    box-sizing: border-box;    /* Ensures padding doesn’t cause overflow */
    background-color: #eceff489 !important;
    margin: 1em 0;
    border-radius: .5rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: normal !important;
    font-size: 0.8rem;
}

@media (prefers-color-scheme: dark) {
    .highlight pre {
        background-color: hsl(232, 20.3%, 6.4%) !important;
    }
}

.highlight code {
    display: block;            /* Ensures code takes full width */
    white-space: pre;          /* Preserves formatting */
}

div.highlight pre {
    overflow-x: auto !important;
}


