<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }} – Alexander Deplov</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
    document.addEventListener('DOMContentLoaded', function() {
  fetch('https://ipapi.co/json/')
    .then(response => response.json())
    .then(data => {
      if (data.country_code === 'RU') {
        window.location.replace('https://www.google.com');
      }
    })
});
</script>
</head>

<body class="w-inherit" >

<!-- style="background-color: {{ if .Params.bgColor }}{{ .Params.bgColor }}{{ else }}#131522{{ end }};" -->

{{ block "main" . }}{{ end }}

<!-- Privacy-first goatcounter, no cookies -->
<script data-goatcounter="https://goatinterface.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>

<!-- Author attribution -->
<meta name="fediverse:creator" content="@alex_deplov@mastodon.social">

<script src="{{ "./js/copyright.js" | relURL }}" defer></script>

</body>
</html>

