{{ define "main" }}
{{ $accentColor := .Params.accentColor | default "#3B82F6" }}
{{ partial "nav.html" . }}

<article class="post w-full max-w-2xl mx-auto">
  <header class="mb-16">
    <h1 class="text-4xl font-extrabold mb-2">
      <a href="{{ .Permalink }}" class="text-[{{ $accentColor }}] hover:underline">{{ .Title }}</a>
    </h1>
    <div class="text-sm font-normal text-gray-400 mb-8 mt-3">
      {{ .Date.Format "Jan 2, 2006" }} · {{ .Params.author }}
    </div>
  </header>
  
  <div class="content text-[#c4cbd5] text-opacity-90">
    {{ .Content }}
  </div>
  
  <div class="mt-20 mb-24"> 
    <div class="mx-auto flex mb-6">
      <a style="background-color: {{ $accentColor }};" target="_blank" rel="noopener" class="mx-auto flex text-white font-bold py-2 px-12 rounded-xl hover:no-underline hover:-translate-y-2 transition-transform duration-300 ease-in-out" href="mailto:dcwrjo84h@mozmail.com?subject=interfacecraft_online">
        Reply via Email
      </a>
    </div>

    <div class="mx-auto flex">
      <a style="color: {{ $accentColor }};" class="mx-auto flex space-x-2 font-bold" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              <polyline points="9 22 9 12 15 12 15 22"></polyline>
      </svg>
      <span>
        All Articles
      <span>
      </a>
    </div>
  </div>
</article>

<!-- List of other posts -->
<!--
<div class="mt-12 pt-8 border-t border-gray-200 w-full max-w-md mx-auto">
  <h4 class="font-medium text-gray-500 mb-4">Other Posts</h4>
  
  {{ partial "posts-list.html" . }}
</div>
-->

{{ partial "footer.html" . }}

{{ end }}