{{ define "main" }}
{{ $accentColor := .Params.accentColor | default "#3B82F6" }}
{{ partial "nav.html" . }}

<article class="post w-full md:max-w-2xl mx-auto px-4">
  <header class="mb-8 md:mb-16">
    <h1 class="text-2xl md:text-4xl font-extrabold mb-2 content-animate">
      <a href="{{ .Permalink }}" class="text-[{{ $accentColor }}] hover:underline">{{ .Title }}</a>
    </h1>
    <div class="text-xs md:text-sm font-normal text-gray-400 mb-4 md:mb-8 mt-2 md:mt-3 content-animate">
      {{ .Date.Format "Jan 2, 2006" }} · {{ .Params.author }}
    </div>
  </header>
  
  <div class="content text-[#c4cbd5] text-opacity-90 content-animate">
    {{ .Content }}
  </div>
  
  <div class="mt-12 md:mt-20 mb-16 md:mb-24"> 
    <div class="mx-auto flex mb-6 justify-center content-animate">
      <a style="background-color: {{ $accentColor }};" 
         target="_blank" 
         rel="noopener" 
         class="mx-auto flex text-white font-bold py-2 px-6 md:px-12 rounded-xl hover:no-underline hover:-translate-y-2 transition-transform duration-300 ease-in-out" 
         href="mailto:dcwrjo84h@mozmail.com?subject=interfacecraft_online">
        Reply via Email
      </a>
    </div>

    <div class="mx-auto flex justify-center">
      <a style="color: {{ $accentColor }};" 
         class="mx-auto flex space-x-2 font-bold" 
         href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
          <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        <span>All Articles</span>
      </a>
    </div>
  </div>
</article>

{{ partial "footer.html" . }}

{{ end }}