{{ define "main" }}
<main class="max-w-2xl mx-auto px-4 py-12">
    <header class="mb-20 text-zinc-500">
        <a href="/" class="font-semibold mb-1 block no-underline hover:underline hover:text-black">Alexander Deplov</a>
        <h1 class="text-3xl !font-normal mb-2 text-zinc-500">Archive</h1>
    </header>

    <div class="space-y-8">
        {{ range .Pages }}
        <article class="group">
            <a class="" href="{{ .RelPermalink }}" class="block hover:no-underline">
                <div class="">
                    <h2 class="text-xl font-bold mb-1">{{ .Title }}</h2>
                </div>
            </a>
            <div class="text-sm mb-3 font-normal text-zinc-400">
                <span class="">{{ .Date.Format "January 2, 2006" }}</span>{{ with .Params.tags }} • {{ delimit . ", " }}{{ end }}
            </div>
        </article>
        {{ end }}
    </div>
</main>
{{ end }}
