@import url('css/clash-display.css');
@import url('archivo.css');

p, li, strong,
.prose :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)){
    color: #666;
}

html.dark p,
html.dark li,
html.dark strong,
html.dark .prose :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)){
 color: #8d8d8d;
 /* font-family: "Archivo Regular", sans-serif !important; */
}

body{
    /* font-family: "Archivo Regular", sans-serif !important; */
}

/* Avatar */
.p-3{
    padding: 1px;
}

h1{
    /* font-family: "Clash Display", sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: 0.05rem !important; */
}

html.dark h1{
    color: beige;
}

h2{
    /* font-size: 1.2rem !important; */
    /* font-weight: 500 !important; */
    /* letter-spacing: 0.06rem !important; */
    /* font-family: "Clash Display", sans-serif !important; */
}

h3{
    /* font-family: "Clash Display", sans-serif !important; */
    /* font-size: 1.25em; */
    /* font-weight: 600; */
    /* letter-spacing: 0.06rem !important; */
}

/* Featured icon */
.featuredIcon{
    margin-left: -26px;
    width: 26px;
    min-width: 26px;
    min-height: 21px;
    margin-top: 2px;
}

svg path{
    fill: #6100FF;
}

html.dark svg path{
    fill:#8C52FF;
    /* filter: invert(100%); */
}

.btn-dark{
    margin-left: 0.4rem !important;
    scale: 0.8;
}