.hover\:animate-spin:hover{
    animation: none !important; 
}

p, li, strong{
    color: #444;
}
html.dark p,
html.dark li,
html.dark strong{
 color: #aeaeae;
}

/* Avatar */
.p-3{
    padding: 1px;
}

h2{
    font-size: 20px !important;
}
