.hover\:animate-spin:hover{
    animation: none !important; 
}

p, li, strong{
    color: #666;
}

html.dark p,
html.dark li,
html.dark strong{
 color: #aeaeae;
}

/* Avatar */
.p-3{
    padding: 1px;
}

h2{
    font-size: 1.25rem !important;
    font-weight: 700 !important;
}
