<div class="bg-red-100 rounded-xl p-6 min-h-[200px] relative">
  <div class="absolute top-6 left-6 text-sm font-semibold"> 
    ai music
  </div>
  
  <div class="absolute bottom-6 flex justify-between align-center items-center left-6 right-6">
    <div class="cursor-pointer bg-blue-50 block rounded-full w-12 h-12 flex justify-center items-center transition-transform duration-300 ease-in-out hover:scale-110 group">
      <div class="flex  transition-transform duration-100 ease-in-out group-hover:scale-110">
        <svg class="ml-0.5" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_168_397)">
        <path d="M4.86328 17.0763V5.73008C4.86328 4.67612 5.98644 4.00223 6.9164 4.49821L17.5535 10.1713C18.539 10.6969 18.539 12.1095 17.5535 12.6351L6.9164 18.3082C5.98643 18.8042 4.86328 18.1303 4.86328 17.0763Z" fill="black"/>
        </g>
        <defs>
        <filter id="filter0_d_168_397" x="0.209546" y="0.515968" width="22.7369" height="23.4481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="0.837672"/>
        <feGaussianBlur stdDeviation="2.32687"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_168_397"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_168_397" result="shape"/>
        </filter>
        </defs>
        </svg>
      </div>
    </div>

    <div class="flex-1 text-left ml-4 text-2sm font-semibold leading-[1.2]">
      track name trackme track
        
    </div>
  </div> 

</div>