
<div class="max-w-md mx-auto w-full px-4">
  <div id="bio" class="mt-4 md:mt-6 text-[#f46c04]">
    I'm a designer with 16 years of experience in tech startups. 
    <p class=" inline"> I specialize in sleep wellness, AI, creative photo filters, and other B2C apps.</p> 
  </div>
  <video class="w-full max-w-xs mt-6 rounded-lg" autoplay loop muted playsinline>
    <source src="/images/chatGPT-to-video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

</div>

<style>
#bio {
  // font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
}

#bio p{
  color: black
}

@media (prefers-color-scheme: dark) {
  #bio p{
    color: white
  }
}
</style>

<script>
  // Select the video element and set playback speed to 0.5x (slower)
  const video = document.querySelector('video');
  video.playbackRate = 0.8;
</script>