<div class="columns-1 sm:columns-3 lg:columns-4 gap-4 space-y-4 md:p-10 p-4">
  <div class="break-inside-avoid rounded-xl overflow-hidden" title="New Firefox icon made in ChatGPT">
    <img class="w-full" src="/images/firefox.png">
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden" title="New Contacts app icon made in ChatGPT">
    <img class="w-full" src="/images/contacts.png">
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden"  title="photo made on GoPRO, full body shot of luxury white teeth Statue of Liberty green face she, mate lipstick, saturated mascara, contrasted mascara, day light, she’s as a surfer riding the waves amidst the azure ocean, professional composition, top camera angle">
    <video class="" autoplay loop muted playsinline>
        <source src="/images/surf-GoPRO-Statue-of-Liberty.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden">
    <video class="" autoplay loop muted playsinline title="ChatGPT to Video">
        <source src="/images/chatGPT-to-video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden"  title="photo made on GoPRO, full body shot of luxury white teeth Nefertiti and her friend, mate lipstick, saturated mascara, contrasted mascara, night, she’s participating in fashion show at Egypt's sands, with pyramids on the background, these pyramids highlighted with lights, professional composition, top camera angle">
    <video class="" autoplay loop muted playsinline title="Dally glowing circular earring">
        <source src="/images/glowing-earrings.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden"  title="Lion with coffee in pink costume made in LLM">
    <video class="" autoplay loop muted playsinline>
        <source src="/images/lion-in-a-pink-suit.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden"  title="photo made on GoPRO, full body shot of luxury white teeth Nefertiti and her friend, mate lipstick, saturated mascara, contrasted mascara, night, she’s participating in fashion show at Egypt's sands, with pyramids on the background, these pyramids highlighted with lights, professional composition, top camera angle">
    <video class="" autoplay loop muted playsinline title="Blender: Invisible people">
        <source src="/images/invisible-people-2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden" title="Canon 24-70mm, focal point, wide angle, fish eye lenses, beautiful stylish Greek interior design living room with wooden retro commode, white walls and ceiling, 4K resolution, tropical plants with wide leaves in rattan pots, chairs, baskets and elegant personal accessories, enormously huge tv playing tennis channel. incredible home decoration">
    <img class="w-full" src="/images/interior.png">
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden" title="Golden icons for iOS app made in ChatGPT">
    <img class="w-full" src="/images/golden-icons.png">
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden"  title="Glowing glasses in the dark ai ads">
    <video class="" autoplay loop muted playsinline title="Blender: Invisible people">
        <source src="/images/glasses-glow-head-ai.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden" title="female with style of sims, solid background, luxury looking face, angry">
    <img class="w-full" src="/images/sims-angry.jpg">
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden"  title="photo made on GoPRO, full body shot of luxury white teeth Nefertiti and her friend, mate lipstick, saturated mascara, contrasted mascara, night, she’s participating in fashion show at Egypt's sands, with pyramids on the background, these pyramids highlighted with lights, professional composition, top camera angle">
    <video class="" autoplay loop muted playsinline title="Blender: Invisible people">
        <source src="/images/invisible-people-1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="break-inside-avoid rounded-xl overflow-hidden" title="Sports TV app icon made in ChatGPT">
    <img class="w-full" src="/images/sports-tv.png">
  </div>
  

  
</div>
