<!-- posts-list.html partial -->
<!-- Display posts grouped by year -->
<div class="list w-full max-w-md mx-auto mt-4 md:mt-16">
  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ if $posts }}
    <!-- Group posts by year -->
    {{ $postsByYear := $posts.GroupByDate "2006" }}
    {{ range $postsByYear }}
      <h3 class="text-xl font-bold mt-6 mb-3">
        {{ $currentYear := now.Year }}
        {{ if eq (int .Key) $currentYear }}
          Blog / {{ .Key }}
        {{ else }}
          {{ .Key }}
        {{ end }}
      </h3>
      <ul>
        {{ range .Pages }}
          <li class="mb-2 ml-4 list-disc text-[#29ADFF]">
            <a href="{{ .Permalink }}" class="text-blue-600 hover:underline">{{ .Title }}</a>
          </li>
          
        {{ end }}
      </ul>
    {{ end }}
  {{ else }}
    <p>No posts yet.</p>
  {{ end }}
</div>