<!-- layouts/shortcodes/photos-full-width-grid.html -->
<div class="image-grid">
  {{ $columns := .Get "columns" }}
  {{ $pairs := split (.Get "images") "," }}
  
  {{ range $index, $pair := $pairs }}
    {{ $pair = trim $pair " " }}
    {{ $parts := split $pair "|" }}
    {{ $image := trim (index $parts 0) " " }}
    {{ $url := "" }}
    {{ if gt (len $parts) 1 }}
      {{ $url = trim (index $parts 1) " " }}
    {{ end }}
    
    <div class="grid-item">
      {{ if $url }}
        <a href="{{ $url }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ $image }}" alt="Grid image {{ add $index 1 }}">
        </a>
      {{ else }}
        <img src="{{ $image }}" alt="Grid image {{ add $index 1 }}">
      {{ end }}
    </div>
  {{ end }}
</div>

<style>
.image-grid {
  display: grid;
  grid-template-columns: repeat({{ .Get "columns" }}, 1fr); /* Default columns from shortcode */
  gap: 5px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.grid-item {
  width: 100%;
  justify-content: center;
  display: flex;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.grid-item img,
.grid-item a {
  width: 100%;
  max-width: 120px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: auto;
  justify-content: center;
  align-self: center;
  transition: transform 0.2s;
}

.grid-item a:hover img{
  transform: scale(1.1);
}

/* Media query for mobile (2 columns) */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
  }
}
</style>